body {
	background-color: aqua;
}

img {
	height: 35px;
	width: auto;
	position: absolute;
	left: 50%;
}

.container {
	height: 300px;
	width: 250px;
	background-color: white;
	position: absolute;
	top: 10%;
	left: 45%;
	padding-left: 15px;
}

form {
	margin-left: auto;
	margin-right:auto;
	padding-left: 10px;
	position: absolute;
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input, .form select {
  display: block;
  width: 200px;
  margin-bottom: 15px;
}

.button {
	background-color: green;
	width: 200px;
	height: 25px;
	color: white;
}

.already {
	position: absolute;
	top: 55%;
	left: 47%;
}