body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img.image-one {
	float: left;
	margin-right: 5px;
}

img.image-two {
	float: right;
	margin-left: 5px;
}